<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @buddy.fullname %>
</p>

<p>
  <strong>Buddyid:</strong>
  <%= @buddy.buddyid %>
</p>

<% @messages.each do |m| %>
	<p>
		<%= "sent: " if m.sent %>
		<%= "received: " if m.received %>
		<%= m.content %>
		<%= link_to "See more", message_path(m) %>
	</p>
<% end %>

<%= render 'messages/form', message: @message %>

<%= link_to 'Back to Messages', messages_path %> |
<%= link_to 'Back to Buddies', buddies_path %> |
<%= link_to 'Edit Buddy', edit_buddy_path(@buddy) %>