<p id="notice"><%= notice %></p>

<strong>Fullname:</strong>
<%= @buddy.fullname %>

<div class="developer-mode">
	<strong>Buddyid:</strong>
	<%= @buddy.buddyid %>	
	<%= render 'messages/form', message: @message %>
</div>	

<%= content_tag :div, :id => 'messages', :data => {'buddy-id' => @buddy.id, 'buddyid' => @buddy.buddyid} do -%>
	<%= render @messages %> 
<% end -%>

<form> 
	<label>Say something:</label><br> 
	<input type="text" data-behavior="buddy_speaker"> 
</form>

<%= link_to 'Back to Messages', messages_path %> |
<%= link_to 'Back to Buddies', buddies_path %> |
<%= link_to 'Edit Buddy', edit_buddy_path(@buddy) %>